<!-- navigation -->
<header class="navigation bg-tertiary">
    <nav class="navbar navbar-expand-xl navbar-light text-center py-3">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img loading="prelaod" decoding="async" class="img-fluid" width="160" src="/images/logo.png"
                    alt="Tagore">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item"> <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item "> <a class="nav-link" href="/#services">Courses</a>
                    </li>
                    <li class="nav-item "> <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item "> <a class="nav-link" href="/#about">About</a>
                    </li>
                    <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">Division</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item " href="/college">College</a>
                            </li>
                            <li><a class="dropdown-item "
                                    href="/#services">Computer Academy</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- account btn --> <a href="https://forms.gle/g1oHQwH5juf2P77FA"
                    class="btn btn-outline-primary">Enquiry</a>
                <!-- account btn --> <a href="https://forms.gle/3CS57YAtBE53BKj78" class="btn btn-primary ms-2 ms-lg-3">Joine</a>
            </div>
        </div>
    </nav>
</header>
<!-- /navigation -->