<section class="banner bg-tertiary position-relative overflow-hidden">
    <div class="container" style="display: flex; align-items: center; justify-content: center;">
        <a href="/staff/enquiry" class="btn btn-primary ms-2 ms-lg-3">Enquiry</a>
        <a href="/staff/join" class="btn btn-primary ms-2 ms-lg-3">Join</a>
        <a href="/staff/students" class="btn btn-primary ms-2 ms-lg-3">Students</a>
    </div>
</section>